DEEPSEEK_API_KEY={{ deepseek_api_key }}
MINIMAX_API_KEY={{ minimax_api_key }}

TERMINAL_MODAL_IMAGE=nikolaik/python-nodejs:python3.11-nodejs20
TERMINAL_TIMEOUT=60
TERMINAL_LIFETIME_SECONDS=300
BROWSERBASE_PROXIES=true
BROWSERBASE_ADVANCED_STEALTH=false
WEB_TOOLS_DEBUG=false
VISION_TOOLS_DEBUG=false
MOA_TOOLS_DEBUG=false
IMAGE_TOOLS_DEBUG=false

HERMES_DASHBOARD_BASIC_AUTH_USERNAME=admin
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD={{ dashboard_basic_auth_password }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ dashboard_basic_auth_secret }}

# Matrix messenger (root gateway)
MATRIX_HOMESERVER={{ matrix_homeserver }}
MATRIX_USER_ID={{ matrix_user_id }}
MATRIX_ALLOWED_USERS={{ matrix_allowed_users }}
MATRIX_ACCESS_TOKEN={{ _matrix_access_token_root }}
MATRIX_ENCRYPTION={{ matrix_encryption }}
MATRIX_E2EE_MODE={{ matrix_e2ee_mode }}
MATRIX_RECOVERY_KEY={{ matrix_recovery_key }}
MATRIX_DEVICE_ID={{ _matrix_device_id_root }}
MATRIX_HOME_ROOM={{ matrix_home_room_root }}
MATRIX_HOME_ROOM_THREAD_ID={{ matrix_home_room_thread_id_root | default('') }}
